@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-zinc-50 !important;
  }
  body {
    @apply bg-zinc-800;
    @apply text-zinc-50;
  }
  tr, th {
    border-bottom: 1px solid var(--tutor-border-color);
    padding: 9px 16px;
    background: #f4f6f9;
    border-top: 1px solid var(--tutor-border-color);
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
    color: var(--tutor-color-secondary);
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-200 !important;
  }
  input, textarea, select {
    @apply text-zinc-50 !important;
    @apply bg-transparent;
    @apply border rounded;
    @apply px-2 py-1;
  }
}

@layer components {
  circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:blue;
  }
  circle-outline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:black;
    outline: 1px solid #fff;
    @apply hover:cursor-pointer;
  }
}

/* wp-page container style */

div.prose,
div.tutor-wrap,
div.woocommerce {
  @apply min-h-screen;
  @apply py-4 px-8;
}

/* woocommerce style */

input.woocommerce-Input {
  @apply flex flex-row justify-between items-center;
  @apply w-full;
  @apply border border-gray-300;
  @apply rounded;
  @apply p-2;
  @apply mb-2;
  @apply text-sm;
  @apply text-gray-600;
  @apply focus:outline-none;
  @apply focus:ring-1 focus:ring-blue-500;
  @apply focus:border-blue-500;
}

.woocommerce-info {
  @apply bg-zinc-600;
}

div.woocommerce-product-gallery__image--placeholder {
  @apply border-0 !important;
}

div.product_meta,
div.product_meta a,
a.added_to_cart {
  @apply text-zinc-50;
}

input.input-text {
  @apply text-zinc-800 !important;
}

/* tutor style */

button.tutor-btn-primary {
  color: var(--tutor-color-primary);
}

div.tutor-wrap {
  @apply my-4;
  @apply min-h-max;
}

div.tutor-login-wrap {
  @apply bg-zinc-200;
  @apply m-auto;
}

span.tutor-dashboard-menu-item-text {
  @apply text-zinc-50;
}

span.tutor-fs-5, 
div.tutor-fs-5,
div.tutor-fs-4 {
  @apply text-zinc-200 !important;
}

h3.tutor-fs-5,
h3.tutor-fs-6,
.tutor-accordion-item-header,
.tutor-course-content-list-item-title a {
  @apply text-zinc-800 !important;
}
