@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p, td, th {
    @apply text-zinc-50 !important;
  }
  body {
    @apply bg-zinc-800;
    @apply text-zinc-50;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-200 !important;
  }
  input, textarea, select {
    @apply text-zinc-50 !important;
    @apply bg-transparent;
    @apply border rounded;
    @apply px-2 py-1;
  }
}

@layer components {
  circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:blue;
  }
  circle-outline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:black;
    outline: 1px solid #fff;
    @apply hover:cursor-pointer;
  }
}

/* wp-page container style */

div.prose,
div.tutor-wrap,
div.woocommerce {
  @apply min-h-screen;
  @apply py-4 px-8;
}

/* woocommerce style */

input.woocommerce-Input {
  @apply flex flex-row justify-between items-center;
  @apply w-full;
  @apply border border-gray-300;
  @apply rounded;
  @apply p-2;
  @apply mb-2;
  @apply text-sm;
  @apply text-gray-600;
  @apply focus:outline-none;
  @apply focus:ring-1 focus:ring-blue-500;
  @apply focus:border-blue-500;
}

.woocommerce-info,
a.showcoupon {
  @apply bg-zinc-600;
  @apply text-zinc-50;
}

div.woocommerce-checkout-payment {
  @apply bg-zinc-700 !important;
  @apply text-zinc-50;
}

div.payment_box {
  @apply bg-zinc-600 !important;
}

div.payment_box::before {
  @apply border-b-zinc-600 !important;
}

div.woocommerce-product-gallery__image--placeholder {
  @apply border-0 !important;
}

div.product_meta,
div.product_meta a,
a.added_to_cart {
  @apply text-zinc-50;
}

input.input-text,
p.cvs-info strong,
.tutor-form-group label,
ul.woocommerce-order-overview,
ul.woocommerce-order-overview strong,
address,
.woosb-title-inner a,
.woosb-item-product {
  @apply text-zinc-50 !important;
}

div.tutor-form-group input {
  @apply text-zinc-50 !important;
  @apply bg-transparent !important;
  @apply border rounded;
  @apply px-2 py-1;
}

div.choose_cvs button {
  @apply bg-zinc-800 !important;
  @apply text-zinc-50 !important;
}

ins span.woocommerce-Price-amount, ins bdi {
  @apply text-red-600 !important;
  @apply border-0;
}

ins {
  @apply no-underline;
}

del bdi, span.price del{
  @apply text-zinc-400 !important;
}

/* tutor style */

button.tutor-btn-primary {
  color: var(--tutor-color-primary);
}

div.tutor-wrap {
  @apply my-4;
  @apply min-h-max;
}

div.tutor-login-wrap {
  @apply bg-zinc-700;
  @apply m-auto;
}

span.tutor-dashboard-menu-item-text {
  @apply text-zinc-50;
}

span.tutor-fs-5, 
span.tutor-fs-6, 
div.tutor-fs-6,
div.tutor-fs-5,
div.tutor-fs-4,
label.tutor-form-label,
button.tutor_cover_uploader
.tutor-social-field div i,
.tutor-color-black,
ul.tutor-course-details-widget-list,
span.tutor-course-content-list-item-icon {
  @apply text-zinc-200 !important;
}

div.tutor-form-select-options {
  @apply text-zinc-800 !important;
}

input.tutor-form-control,
textarea.tutor-form-control,
div.tutor-form-control {
  @apply text-zinc-50 !important;
  @apply bg-transparent !important;
  @apply border rounded;
  @apply px-2 py-1;
}

div.tutor-card, 
div.tutor-card-body,
div.tutor-course-details-instructors,
div.tutor-single-course-sidebar-more div,
.tutor-single-course-sidebar-more>div:first-child,
.tutor-single-course-sidebar-more>div:last-child {
  @apply bg-zinc-700 !important;
  @apply border-0;
}

div.tutor-accordion-item,
div.tutor-accordion-item-body-content {
  @apply bg-transparent;
  @apply border-0;
}

.tutor-accordion-item-header, th {
  @apply bg-zinc-700 !important;
}

.tutor-course-content-list-item, tr {
  @apply bg-zinc-600 !important;
}

div.tutor-course-name a {
  @apply text-zinc-50 !important;
}

.tutor-table tr td,
.tutor-table tr td a {
  @apply text-zinc-50 !important;
  @apply bg-zinc-600 !important;
}

.tutor-course-single-sidebar-wrapper {
  @apply bg-zinc-700;
  @apply border-0;
}

.tutor-course-single-sidebar-title {
  @apply bg-zinc-800;
  @apply border-0;
}

.tutor-course-topic-title {
  @apply text-zinc-50;
}
